.move-list {
    margin: 100px 0;
    
    ul {
        display: flex;
        flex-direction: column;
        align-items: center;

        .move {
            display: inline-block;
            background-color: lightgray;
            font-weight: 400;
            padding: 20px;
            border-radius: 1rem;
            margin: 10px;
        }
    }
}