
<nav>
    <a [routerLink]="'/'" [routerLinkActive]="'active'" [routerLinkActiveOptions]="{exact: true}">
        <fa-icon [icon]="faHome" title="Home"></fa-icon>
    </a>
    <a [routerLink]="'/contact'" [routerLinkActive]="'active'">
        <fa-icon [icon]="faAddressBook" title="Contacts"></fa-icon>
    </a>
    <a [routerLink]="'/statistics'" [routerLinkActive]="'active'">
        <fa-icon [icon]="faChartLine" title="Statistics"></fa-icon>
    </a>
    <a [routerLink]="'/signup'" [routerLinkActive]="'active'">
        <fa-icon [icon]="faUserPlus" title="Sign-Up"></fa-icon>
    </a>
</nav>
<router-outlet></router-outlet>