@import '../less/variables.less';

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 40px 0;
    font-size: 2rem;
    
    a {
        color: inherit;
        transition: all .3s;

        &:hover, &.active {
            transform: scale(1.1);
            color: lighten(@clr1, 20%);
        }
    }
}