@import '../../../less/variables.less';
@import '../../../less/mixins.less';

.contact-edit {
    margin-top: 40px;
    padding: 20px 0;

    header {
        display: flex;
        justify-content: space-between;
        align-items: center;

        button {
            .link-icon;
            background-color: transparent;
            border: none;
            cursor: pointer;
        }
        a {
            .link-icon;
        }
    }
    form {
        display: flex;
        flex-direction: column;
        align-items: center;

        img {
            width: 250px;
            margin-bottom: 20px;
            border-radius: 50%;
            border: 1px solid @border-fade;
        }
        [type="text"], [type="email"], [type="tel"] {
            .input-dark;
            margin-bottom: 5px;
        }
        [type="submit"] {
            .btn;
        }
        .ng-valid {
            border-right: 3px solid green;
        }
        .ng-invalid.ng-dirty {
            border-right: 3px solid red;
        }
    }
    .message {
        .message-red;
        margin-top: 10px;
    }
}
