

<section class="contact-edit container">
    <header class="container">
        <a [routerLink]="(contact._id) ? '/contact/' + contact._id : '/contact'">
            <fa-icon [icon]="faArrowAltCircleLeft" title="Back"></fa-icon>
        </a>
        <button *ngIf="contact._id" (click)="removeContact(contact._id)">
            <fa-icon [icon]="faTrashAlt" title="Delete Contact"></fa-icon>
        </button>
    </header>
    <main>
        <form (submit)="saveContact($event)" #contactForm="ngForm">
            <img [src]="(contact._id) ? 'https://robohash.org/' + contact._id : 'assets/imgs/unknown.png'" />
                <input type="text" placeholder="Name" [(ngModel)]="contact.name" name="name" #name="ngModel" required />
                <input 
                    type="tel" 
                    placeholder="Phone" 
                    [(ngModel)]="contact.phone" 
                    name="phone" #phone="ngModel" 
                    pattern="^(?:(?:\+?1\s*(?:[.-]\s*)?)?(?:\(\s*([2-9]1[02-9]|[2-9][02-8]1|[2-9][02-8][02-9])\s*\)|([2-9]1[02-9]|[2-9][02-8]1|[2-9][02-8][02-9]))\s*(?:[.-]\s*)?)?([2-9]1[02-9]|[2-9][02-9]1|[2-9][02-9]{2})\s*(?:[.-]\s*)?([0-9]{4})(?:\s*(?:#|x\.?|ext\.?|extension)\s*(\d+))?$" 
                    required />
                <input type="email" placeholder="Email" [(ngModel)]="contact.email" name="email" #email="ngModel" required email />
                <input type="submit" [disabled]="!contactForm.valid" value="Save" />
            </form>
            <p class="message" [hidden]="name.valid || name.pristine">Name is required</p>
            <p class="message" [hidden]="phone.valid || phone.pristine">Valid phone is required</p>
            <p class="message" [hidden]="email.valid || email.pristine">Valid email is required</p>
    </main>
</section>
