<section class="contact-details container">
    <nav class="container">
        <a [routerLink]="'/contact'">
            <fa-icon [icon]="faArrowAltCircleLeft" title="Back"></fa-icon>
        </a>
        <a [routerLink]="'/contact/edit/' + contact._id">
            <fa-icon [icon]="faEdit" title="Edit"></fa-icon>
        </a>
    </nav>
    <div class="contact-details-details">
            <img [src]="'https://robohash.org/'  + contact._id" />
            <h3>{{ contact.name }}</h3>
            <p>{{ contact.phone }}</p>
            <p>{{ contact.email }}</p>
    </div>
    <main>
        <transfer-fund 
        [contact]="contact" 
        [maxAmout]="loggedUser.coins"
        (doTransferCoins)="doTransferCoins($event)"
        ></transfer-fund>
        
    </main>
</section>

<move-list *ngIf="contactMoves.length" [moves]="contactMoves" [title]="contact.name"></move-list>