<section class="contact-details container">
    <nav>
        <a [routerLink]="'/contact'">Back</a>
        <a [routerLink]="'/contact/edit/' + contact._id">
            <fa-icon [icon]="faEdit"></fa-icon>
        </a>
    </nav>
    <div class="contact-details-details">
        <div class="card">
            <img [src]="'https://robohash.org/'  + contact._id" />
            <p>Name: {{ contact.name }}</p>
            <p>Phone: {{ contact.phone }}</p>
            <p>Email: {{ contact.email }}</p>
        </div>
    </div>
</section>
