@import '../../../less/variables.less';

.contact-preview  {
    color: @clr3;
    display: flex;
    align-items: center;
    padding: 20px 0;
    margin-bottom: 10px;
    font-size: 1.4rem;
    text-transform: capitalize;
    border-bottom: 1px solid @border-fade;
    
   
    .icon {
        color: @clr1;
        margin-left: 20px;
    }
    img {
        height: 50px;
        margin-right: 20px;
    }
    .phone {
        font-size: .6em;
        color: darken(@clr3, 30%);
    }
}